*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

.container {
	width: 1080px;
	margin: 0 auto;
	padding: 0px;
	position: relative;
}

.brasil.png{
	width: 300px;
	height: 100px;
	padding: 15px;
	background-color: rgb(0, 0, 0);
	box-shadow: 10px 10px;
  }
  
.container:after, .container:before {
	content: " ";
	display: table;
}

.container:after {
	clear: both;
}

.grid-4,.grid-11, .grid-12 {
	content: "";
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}


.grid-4 	{width: 220px;}
.grid-11 	{width: 340px;}
.grid-12 	{width: 700px;}

.Brenno {
	min-width: 34%;
	text-decoration: none;
	padding: 2px;
}
.navegacao{
	display: flex;
	justify-content: space-around;
	left: 10px;
	max-width: 100%;
}
#sombra1{
	background-color: #f5c1d6;
	width: 850px;
	padding: 10px;
	box-shadow: 5px 5px 0 rgb(138, 138, 138);
	-webkit-box-shadow: 5px 5px 0 rgb(138, 138, 138);
	-moz-box-shadow: 5px 5px 0 rgb(138, 138, 138);
	height: 180px;
	float: center;
	}